{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}

                    {{ snippet_form.as_p }}


<!--                    Другие варианты реализации форм-->
<!--                    <table>-->
                        {# {{ snippet_form.as_table }} #}
<!--                    </table>-->



<!--                    Другие варианты реализации форм-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
                         {#   {{ snippet_form.name }}  #}
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row">-->
<!--                        <div class="col">-->
                         {#   {{ snippet_form.lang }}  #}
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row">-->
<!--                        <div class="col">-->
                         {#   {{ snippet_form.code }}  #}
<!--                        </div>-->
<!--                    </div>-->

                    <div class="form-group row">
                        <div class="col-8">
                            <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}