{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for i in snippets %}
                    <tr>
                        <td scope="row">{{i.id}}</td>
                        <td>
                            <a href="{% url 'snippets-details-page' i.id %}">{{i.name}}</a>
                            <i style="color: blue" class="fa-solid fa-pen-to-square"></i>
                            <a href="{% url 'snippet-delete' i.id %}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td>{{i.creation_date}}</td>
                        <td>{{i.user}}</td>
                    </tr>
                    {% endfor %}

<!--                    <tr>-->
<!--                        <td scope="row">2</td>-->
<!--                        <td><a href="/snippets/2">И ещё один пример</a></td>-->
<!--                        <td>23.05.2019 11:34</td>-->
<!--                    </tr>-->

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: red">Всего сниппетов: {{ count }}</i>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}